# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints
*.db
*.sqlite3
*.h5
*.pth
*.pt
*.bin
*.ckpt
.DS_Store
data/raw/
checkpoints/
node_modules/
